<div>
  <h1 class="display-4 text-center">Cotizador</h1>
  <hr>
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field>
              <mat-label>Cliente</mat-label>
              <input matInput autocomplete="off" [formControl]="cliente">
            </mat-form-field>                        
          </div>    
          <div class="col md 1">
            <div class="example-button-container">
              <button mat-mini-fab color="primary" (click)="getcliente()">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>   
          <div class="col-md-2">
            {{name}}
          </div>
        </div>
          <div class="card mt-1">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3 offset-2">
                    <mat-form-field appearance="fill">
                      <mat-label>Origen</mat-label>
                      <mat-select [(ngModel)]="origenId" name="Origen">
                        <mat-option *ngFor="let origen of origenJson" [value]="origen.id">
                          {{origen.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field appearance="fill">
                      <mat-label>Regiòn</mat-label>
                      <mat-select [(ngModel)]="regionId" name="Regiòn" (selectionChange)="getPais()">
                        <mat-option *ngFor="let region of regionJson" [value]="region.id">
                          {{region.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field appearance="fill">
                      <mat-label>Destination</mat-label>
                      <mat-select [(ngModel)]="destinationId" name="Destination">
                        <mat-option *ngFor="let destination of destinationJson" [value]="destination.id">
                          {{destination.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <mat-form-field>
                      <mat-label>Peso</mat-label>
                      <input matInput autocomplete="off" [formControl]="peso">
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 marginLeft">
                    <mat-form-field>
                      <mat-label>Ancho</mat-label>
                      <input matInput autocomplete="off" [formControl]="ancho">
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 marginLeft">
                    <mat-form-field>
                      <mat-label>Alto</mat-label>
                      <input matInput autocomplete="off" [formControl]="alto">
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 marginLeft">
                    <mat-form-field>
                      <mat-label>Largo</mat-label>
                      <input matInput autocomplete="off" [formControl]="largo">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 offset-3">
                    <button mat-raised-button class="full" color="primary"
                    (click)="getTarifa()">Calcular</button>
                  </div>
                </div>
                <br>
                <div class="col-md-6 offset-5">
                  Tarifa {{TipoTarifa}} {{resTarifa}}
                </div>
              </div>
          </div>
      </div>
  </div>
</div>